@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
  --left: #5c2420;
  --right: #973831;
  --text: #ffeadb;
  --flair: #5b7b65;
  --split: linear-gradient(
    to right,
    var(--left) 0%,
    var(--left) 50%,
    var(--right) 50%,
    var(--right) 100%
  );
}

body,
#svelte {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  background: linear-gradient(
    to right,
    var(--left) 0%,
    var(--left) 50%,
    var(--right) 50%,
    var(--right) 100%
  );
}

a:link,
a:visited {
  color: var(--text);
}
